/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Adobe Garamond Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Adobe Garamond Pro Regular"),
    url("AGaramondPro-Regular.woff") format("woff");
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
ul li {
  list-style: none;
}
header {
  height: 100vh;
  background: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo img {
  max-width: 100%;
  height: 100px;
}
nav ul li:hover {
  border-bottom: 2px solid white;
  font-weight: 700;
}
header section {
  margin: 0 auto;
  width: 90%;
}
.head-body {
  color: #fff;
  font-family: Montserrat;
  line-height: normal;
  width: 500px;
  margin-top: 80px;
}
.head-body p:first-child {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.head-body p:nth-child(2) {
  font-family: Adobe Garamond Pro;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10.78px;
}
.head-body p:nth-child(3) {
  font-family: Adobe Garamond Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 24px;
}
.head-body p:last-child {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.5px;
}
.btn_box {
  background-color: #e0b973;
  width: 150px;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  gap: 10px;
}
.icon {
  height: 20px;
  width: 20px;
}
.icon img {
  max-width: 100%;
}
.btn_box span {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scroll_box {
  text-align: center;
}
/* ROOMS */
main {
  margin: 2em auto;
  width: 80%;
}
.text_head {
  color: #14274a;
  text-align: center;
  margin: 0 auto;
  width: 85%;
}
.text_head h2 {
  font-family: Adobe Garamond Pro;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
.text_head p {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.outer_box {
  border: 1px solid #14274a;
  background: #14274a;
  margin-top: 40px;
  border-radius: 5px;
}
.image_box img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.room_text {
  background-color: #14274a;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.room-details {
  background: white;
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box img {
  height: 51px;
}
.box span {
  color: #14274a;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price {
  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #e0b973;
  padding: 10px 12px;
  border-radius: 5px;
}
.text_foot {
  text-align: center;
  margin-top: 40px;
}
.text_foot h2 {
  font-family: Adobe Garamond Pro;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  color: #14274a;
}
.text_foot p {
  color: #14274a;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.move {
  margin: 20px 0;
}

footer {
  background-color: #14274a;
  position: relative;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}
footer::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 90px solid #14274a;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  margin: 2em auto;
  width: 80%;
  display: flex;
  color: white;
  justify-content: space-between;
}
.info-logo {
  margin-bottom: 20px;
}
.info {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
footer .container ul li {
  color: #f7f7f7;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}
footer .container li a img {
  padding: 0 10px;
  vertical-align: middle;
}
footer .container form label {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  display: block;
}
form div {
  display: flex;
  justify-content: center;
}
footer .container form span {
  /* padding-left: 0.8em; */
  cursor: pointer;
  padding: 10px;
  color: #14274a;
  background-color: #e0b973;
  text-align: center;
  display: flex;
  align-items: center;
  color: #14274a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* margin-right: 5px; */
}

footer .container form input {
  background-color: #14274a;
  color: #fff;
  padding: 0.8em;
  width: 80%;
  border: 1px solid #e0b973;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

footer .container form input::placeholder {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
